{
  "extends": "airbnb",
  "plugins": ["jest"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "function-paren-newline": 0
  },
  "env": {
    "jest/globals": true
  }
}